.chatbox {
  background-color: rgb(229, 244, 250);
  border-radius: 20px;
  margin-top: 30px;
  height: 550px;
  max-height: 700px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 25px;
  overflow: scroll;
}

.bubble-name {
  font-size: 12px;
  margin-bottom: 5px;
  padding: 0;
}

.bubble-r {
  display: inline-block;
  background-color: lightblue;
  padding: 10px;
  border-radius: 15px;
}

.bubble-s {
  display: inline-block;
  background-color: lightgreen;
  padding: 10px;
  border-radius: 15px;
}

.status {
  display: inline-block;
  color: white;
  font-style: italic;
  background-color:rgba(0,0,0,0.2);
  padding: 8px;
  border-radius: 10px;
}

.statusBubble {
  text-align: center;
}

.input-container {
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
}

.input-container input {
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #aaa;
  outline: none;
}